@model IEnumerable<AspNetInicio.Models.Produto>

@* <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </div>
</section> *@

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var produtct in Model)
        {
            <div class="col-12 d-flex">
                <div class="card shadow-sm">
                    <img class='d-placeholder-img card-img-top' src='@produtct.Imagem' alt='@produtct.Imagem'>

                    <div class="card-body">
                        <h4 class="card-title">@produtct.Nome</h4>
                        <p class="card-text mb-5">@produtct.Descricao.</p>

                        <div class="card-description">
                            <div class="btn-group">
                                <a href="/@produtct.Id" type="button" class="radius-left btn btn-sm btn-outline-secondary">Mais</a>
                                @if (produtct.Estoque <= 1)
                                {
                                    <button disabled type="button" class="radius-right btn btn-sm btn-outline-secondary fw-bold button-disabled">Indisponivel</button>
                                } else
                                {
                                    <button type="button" class="radius-right btn btn-sm btn-outline-secondary fw-bold">Comprar</button>
                                }
                            </div>
                            
                            <small class="text-muted fs-4">@produtct.Preco.ToString("C")</small>
                        </div>
                    </div>
                </div>
            </div>
        }

        </div>

    </div>
</div>
